<!-- Section benefits -->
<section class="section benefits">
  <div class="container benefits__container">
    <div class="benefits__content">
      <h2 class="section-title benefits__title">
        Reconnect with yourself through the art of outdoor drawing
      </h2>
      <ul class="benefits__list">
        <li class="benefits__item">
          <svg class="benefits__icon" width="48" height="48">
            <use href="./img/icons.svg#icon-spa"></use>
          </svg>
          <div class="benefits__info">
            <h3 class="benefits__item-title">Relieves stress and anxiety</h3>
            <p class="benefits__text">
              Drawing in nature helps you unwind, clear your mind, and escape
              daily worries in a peaceful setting.
            </p>
          </div>
        </li>
        <li class="benefits__item">
          <svg class="benefits__icon" width="48" height="48">
            <use href="./img/icons.svg#icon-sun"></use>
          </svg>
          <div class="benefits__info">
            <h3 class="benefits__item-title">Sparks creativity</h3>
            <p class="benefits__text">
              Whether you’re a beginner or experienced, plein air drawing
              encourages creative thinking and helps you see beauty in the
              details.
            </p>
          </div>
        </li>
        <li class="benefits__item">
          <svg class="benefits__icon" width="48" height="48">
            <use href="./img/icons.svg#icon-leaf"></use>
          </svg>
          <div class="benefits__info">
            <h3 class="benefits__item-title">Quality time in nature</h3>
            <p class="benefits__text">
              Plein air sessions combine fresh air, gentle movement, and mindful
              observation — a perfect blend of rest and inspiration.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <img
      class="benefits__img"
      src="./img/benefits/benefits-1@1x.png"
      srcset="
        ./img/benefits/benefits-1@1x.png 1x,
        ./img/benefits/benefits-1@2x.png 2x
      "
      width="616"
      height="586"
      loading="lazy"
      alt="Watercolor illustration of cute hippos in T-shirts among leaves"
    />
  </div>
</section>
