<section class="section events" id="events">
  <div class="container events__container">
    <div class="events__content">
      <h2 class="events__title">Explore Our Upcoming Workshop Schedule</h2>
      <p class="events__text">
        Join us for immersive plein air drawing workshops. Experience nature
        while honing your artistic skills.
      </p>
    </div>
    <ul class="events__list">
      <li class="events__item">
        <div class="events__wrapper">
          <img
            class="events__pic"
            src="/img/events/event-1@1x.jpg"
            alt="Light Sketching"
            srcset="
              /img/events/event-1@1x.jpg 1x,
              /img/events/event-1@2x.jpg 2x
            "
            width="311"
            height="225"
          />
          <ul class="events__details">
            <li class="events__frame">
              <div class="events__frame__item">
                <svg class="events__mapicon" width="24" height="24">
                  <use href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <p class="events__location">Central Park Meadow</p>
              </div>
              <p class="events__time">09 Jun 8:00 am</p>
            </li>
            <h2 class="events__details__title">Morning Light Sketching</h2>
          </ul>
          <a class="events__register" href="#Register">Register</a>
        </div>
      </li>
      <li class="events__item">
        <div class="events__wrapper">
          <img
            class="events__pic"
            src="/img/events/event-2@1x.jpg"
            alt="Painting Wildflowers"
            srcset="
              /img/events/event-2@1x.jpg 1x,
              /img/events/event-2@2x.jpg 2x
            "
            width="311"
            height="225"
          />
          <ul class="events__details">
            <li class="events__frame">
              <div class="events__frame__item">
                <svg class="events__mapicon" width="24" height="24">
                  <use href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <p class="events__location">Riverside Botanical Trail</p>
              </div>
              <p class="events__time">10 Jun 5:00 pm</p>
            </li>
            <h2 class="events__details__title">
              Floral Focus: Painting Wildflowers
            </h2>
          </ul>
          <a class="events__register" href="#Register">Register</a>
        </div>
      </li>
      <li class="events__item">
        <div class="events__wrapper">
          <img
            class="events__pic"
            src="/img/events/event-3@1x.jpg"
            alt="Color & Composition Basics"
            srcset="
              /img/events/event-3@1x.jpg 1x,
              /img/events/event-3@2x.jpg 2x
            "
            width="311"
            height="225"
          />
          <ul class="events__details">
            <li class="events__frame">
              <div class="events__frame__item">
                <svg class="events__mapicon" width="24" height="24">
                  <use href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <p class="events__location">Forest Edge Retreat</p>
              </div>
              <p class="events__time">11 Jun 7:00 pm</p>
            </li>
            <h2 class="events__details__title">Color & Composition Basics</h2>
          </ul>
          <a class="events__register" href="#Register">Register</a>
        </div>
      </li>
      <li class="events__item">
        <div class="events__wrapper">
          <img
            class="events__pic"
            src="/img/events/event-4@1x.jpg"
            alt="Meditative Sketching"
            srcset="
              /img/events/event-4@1x.jpg 1x,
              /img/events/event-4@2x.jpg 2x
            "
            width="311"
            height="225"
          />
          <ul class="events__details">
            <li class="events__frame">
              <div class="events__frame__item">
                <svg class="events__mapicon" width="24" height="24">
                  <use href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <p class="events__location">Willow Grove Field</p>
              </div>
              <p class="events__time">14 Jun 8:00 pm</p>
            </li>
            <h2 class="events__details__title">
              Drawing Stillness: Meditative Sketching
            </h2>
          </ul>
          <a class="events__register" href="#Register">Register</a>
        </div>
      </li>
      <li class="events__item">
        <div class="events__wrapper">
          <img
            class="events__pic"
            src="/img/events/event-5@1x.jpg"
            alt="Landscape Study"
            srcset="
              /img/events/event-5@1x.jpg 1x,
              /img/events/event-5@2x.jpg 2x
            "
            width="311"
            height="225"
          />
          <ul class="events__details">
            <li class="events__frame">
              <div class="events__frame__item">
                <svg class="events__mapicon" width="24" height="24">
                  <use href="/img/icons.svg#icon-map-pin"></use>
                </svg>
                <p class="events__location">Sunset Ridge Hilltop</p>
              </div>
              <p class="events__time">15 Jun 8:00 pm</p>
            </li>
            <h2 class="events__details__title">Golden Hour Landscape Study</h2>
          </ul>
          <a class="events__register" href="#Register">Register</a>
        </div>
      </li>
    </ul>
  </div>
</section>
