<section
  class="section feedbacks"
  id="feedbacks"
  aria-labelledby="feedbacks-title"
>
  <div class="container">
    <h2 class="section-title feedbacks__title" id="feedbacks-title">
      Customer testimonials
    </h2>
    <ul class="feedbacks__list">
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="5 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “An unforgettable way to reconnect with nature and creativity. I
            came home with a full sketchbook and a peaceful mind.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Julia Nguyen</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="4 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star feedbacks__star--outline">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “WildSketch helped me rediscover my love for drawing. The
            instructors were kind, encouraging, and deeply inspiring.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Mark Leblanc</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="5 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “Beautiful locations, great energy, and a supportive community. I’m
            not a professional artist, but I felt totally welcomed.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Sofia Mendes</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="4 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star feedbacks__star--outline">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “Sketching outdoors in the golden hour was magical. Highly recommend
            for anyone looking to slow down and create.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Daniel Ortiz</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="5 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “The team made everything feel effortless and joyful. I learned so
            much and met wonderful people along the way.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Anika Shah</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating" aria-label="4 out of 5 stars">
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star feedbacks__star--outline">
            <svg width="24" height="24" aria-hidden="true">
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <blockquote class="feedbacks__quote">
          <p>
            “Such a wholesome and uplifting experience. WildSketch is now my
            go-to escape when I need a creative reset.”
          </p>
        </blockquote>
        <p class="feedbacks__author">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>
