<section class="section feedbacks" id="feedbacks">
  <div class="container">
    <h2 class="section-title feedbacks__title">Customer testimonials</h2>
    <ul class="feedbacks__list">
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “An unforgettable way to reconnect with nature and creativity. I came
          home with a full sketchbook and a peaceful mind.”
        </p>
        <p class="feedbacks__author">Julia Nguyen</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon feedbacks__icon--outline"
              width="24"
              height="24"
            >
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “WildSketch helped me rediscover my love for drawing. The instructors
          were kind, encouraging, and deeply inspiring.”
        </p>
        <p class="feedbacks__author">Mark Leblanc</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “Beautiful locations, great energy, and a supportive community. I’m
          not a professional artist, but I felt totally welcomed.”
        </p>
        <p class="feedbacks__author">Sofia Mendes</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon feedbacks__icon--outline"
              width="24"
              height="24"
            >
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “Sketching outdoors in the golden hour was magical. Highly recommend
          for anyone looking to slow down and create.”
        </p>
        <p class="feedbacks__author">Daniel Ortiz</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “The team made everything feel effortless and joyful. I learned so
          much and met wonderful people along the way.”
        </p>
        <p class="feedbacks__author">Anika Shah</p>
      </li>
      <li class="feedbacks__item">
        <ul class="feedbacks__rating">
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg class="feedbacks__icon" width="24" height="24">
              <use href="./img/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="feedbacks__star">
            <svg
              class="feedbacks__icon feedbacks__icon--outline"
              width="24"
              height="24"
            >
              <use href="./img/icons.svg#icon-star-outline"></use>
            </svg>
          </li>
        </ul>
        <p class="feedbacks__quote">
          “Such a wholesome and uplifting experience. WildSketch is now my go-to
          escape when I need a creative reset.”
        </p>
        <p class="feedbacks__author">Thomas Becker</p>
      </li>
    </ul>
  </div>
</section>
