<section class="section gallery" id="gallery">
  <div class="container gallery__container">
    <div class="gallery__content">
      <h2 class="gallery__title">Artistic Showcase</h2>
      <p class="gallery__text">
        Explore the creativity captured in our workshops.
      </p>
    </div>
    <ul class="gallery__list">
      <li class="gallery__item gallery__item__tab1 gallery__item__desk1">
        <img
          class="gallery__pic gallery__pic__tab1 gallery__pic__desk1"
          src="/img/gallery/gallery-1@1x.jpg"
          srcset="
            /img/gallery/gallery-1@1x.jpg 1x,
            /img/gallery/gallery-1@2x.jpg 2x
          "
          width="159"
          height="157"
          alt="view of the hill"
        />
      </li>
      <li class="gallery__item gallery__item__tab1 gallery__item__desk1">
        <img
          class="gallery__pic gallery__pic__tab1 gallery__pic__desk1"
          src="/img/gallery/gallery-2@1x.jpg"
          srcset="
            /img/gallery/gallery-2@1x.jpg 1x,
            /img/gallery/gallery-2@1x.jpg 2x
          "
          width="159"
          height="157"
          alt="forest and mountains"
        />
      </li>
      <li
        class="gallery__item gallery__item__big gallery__item__tab1 gallery__item__desk1"
      >
        <img
          class="gallery__pic__tab1 gallery__pic__big gallery__pic__desk1"
          src="/img/gallery/gallery-3@1x.jpg"
          srcset="
            /img/gallery/gallery-3@1x.jpg 1x,
            /img/gallery/gallery-3@1x.jpg 2x
          "
          width="335"
          height="238"
          alt="forest and fir trees"
        />
      </li>

      <li class="gallery__item gallery__item__tab2 gallery__item__desk2">
        <img
          class="gallery__pic gallery__pic__tab2 gallery__pic__desk2"
          src="/img/gallery/gallery-4@1x.jpg"
          srcset="
            /img/gallery/gallery-4@1x.jpg 1x,
            /img/gallery/gallery-4@1x.jpg 2x
          "
          width="159"
          height="136"
          alt="the path up the hill"
        />
      </li>
      <li class="gallery__item gallery__item__tab2 gallery__item__desk2">
        <img
          class="gallery__pic gallery__pic__tab2 gallery__pic__desk2"
          src="/img/gallery/gallery-5@1x.jpg"
          srcset="
            /img/gallery/gallery-5@1x.jpg 1x,
            /img/gallery/gallery-5@1x.jpg 2x
          "
          width="159"
          height="136"
          alt="flower"
        />
      </li>
      <li class="gallery__item gallery__item__tab2 gallery__item__desk2">
        <img
          class="gallery__pic gallery__pic__tab2 gallery__pic__desk2"
          src="/img/gallery/gallery-6@1x.jpg"
          srcset="
            /img/gallery/gallery-6@1x.jpg 1x,
            /img/gallery/gallery-6@1x.jpg 2x
          "
          width="159"
          height="136"
          alt="stony hill"
        />
      </li>
      <li class="gallery__item gallery__item__tab2 gallery__item__desk2">
        <img
          class="gallery__pic gallery__pic__tab2 gallery__pic__desk2"
          src="/img/gallery/gallery-7@1x.jpg"
          srcset="
            /img/gallery/gallery-7@1x.jpg 1x,
            /img/gallery/gallery-7@1x.jpg 2x
          "
          width="159"
          height="136"
          alt="flower, forest book, basket, candle, butterflies, mushrooms"
        />
      </li>
    </ul>
  </div>
</section>
