<section class="section-gallery" id="gallery">
  <div class="container gallery-container">
    <div class="gallery-content">
      <h2 class="gallery-title">Artistic Showcase</h2>
      <p class="gallery-text">
        Explore the creativity captured in our workshops.
      </p>
    </div>
    <ul class="gallery-list">
      <div class="imgcontent1">
        <li class="gallery-item gallery-item-tab1 gallery-item-desk1">
          <img
            class="gallery-pic gallery-pic-tab1 gallery-pic-desk1"
            src="/img/gallery/gallery-1@1x.jpg"
            srcset="
              /img/gallery/gallery-1@1x.jpg 1x,
              /img/gallery/gallery-1@2x.jpg 2x
            "
            width="159"
            height="157"
            alt="img1"
          />
        </li>
        <li class="gallery-item gallery-item-tab1 gallery-item-desk1">
          <img
            class="gallery-pic gallery-pic-tab1 gallery-pic-desk1"
            src="../img/gallery/gallery-2@1x.jpg"
            srcset="
              ../img/gallery/gallery-2@1x.jpg 1x,
              ../img/gallery/gallery-2@2x.jpg 2x
            "
            width="159"
            height="157"
            alt="img2"
          />
        </li>
        <li
          class="gallery-item gallery-item-big gallery-item-tab1 gallery-item-desk1"
        >
          <img
            class="gallery-pic-tab1 gallery-pic-big gallery-pic-desk1"
            src="../img/gallery/gallery-3@1x.jpg"
            srcset="
              ../img/gallery/gallery-3@1x.jpg 1x,
              ../img/gallery/gallery-3@2x.jpg 2x
            "
            width="335"
            height="238"
            alt="img3"
          />
        </li>
      </div>
      <div class="imgcontent2">
        <li class="gallery-item gallery-item-tab2 gallery-item-desk2">
          <img
            class="gallery-pic gallery-pic-tab2 gallery-pic-desk2"
            src="../img/gallery/gallery-4@1x.jpg"
            srcset="
              ../img/gallery/gallery-4@1x.jpg 1x,
              ../img/gallery/gallery-4@2x.jpg 2x
            "
            width="159"
            height="136"
            alt="img4"
          />
        </li>
        <li class="gallery-item gallery-item-tab2 gallery-item-desk2">
          <img
            class="gallery-pic gallery-pic-tab2 gallery-pic-desk2"
            src="../img/gallery/gallery-5@1x.jpg"
            srcset="
              ../img/gallery/gallery-5@1x.jpg 1x,
              ../img/gallery/gallery-5@2x.jpg 2x
            "
            width="159"
            height="136"
            alt="img5"
          />
        </li>
        <li class="gallery-item gallery-item-tab2 gallery-item-desk2">
          <img
            class="gallery-pic gallery-pic-tab2 gallery-pic-desk2"
            src="../img/gallery/gallery-6@1x.jpg"
            srcset="
              ../img/gallery/gallery-6@1x.jpg 1x,
              ../img/gallery/gallery-6@2x.jpg 2x
            "
            width="159"
            height="136"
            alt="img6"
          />
        </li>
        <li class="gallery-item gallery-item-tab2 gallery-item-desk2">
          <img
            class="gallery-pic gallery-pic-tab2 gallery-pic-desk2"
            src="../img/gallery/gallery-7@1x.jpg"
            srcset="
              ../img/gallery/gallery-7@1x.jpg 1x,
              ../img/gallery/gallery-7@2x.jpg 2x
            "
            width="159"
            height="136"
            alt="img7"
          />
        </li>
      </div>
    </ul>
  </div>
</section>
