<!-- Меню закрыто по умолчанию -->
<div class="mobile-menu">
  <!-- Меню открыто для проверки -->
  <!-- <div class="mobile-menu is-open"> -->
  <div class="mobile-menu__header">
    <!-- Логотип WildSketch -->
    <a
      class="mobile-menu__logo"
      href="./index.html"
      aria-label="WildSketch home"
    >
      <svg width="100" height="32" aria-hidden="true">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <a class="mobile-menu__register" href="#register"> Register </a>
    <button class="mobile-menu__close" type="button" aria-label="Close menu">
      <svg class="icon-close" width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-menu__nav">
    <ul class="mobile-menu__list">
      <li><a href="#benefits">Benefits</a></li>
      <li><a href="#gallery">Gallery</a></li>
      <li><a href="#events">Events</a></li>
      <li><a href="#team">Our Team</a></li>
      <li><a href="#feedbacks">Feedbacks</a></li>
      <li><a href="#register">Register</a></li>
    </ul>
  </nav>
</div>
