<section class="register-section" id="register">
  <div class="container register-container">
    <!-- Форма -->
    <div class="register-content">
      <h2 class="register-title">Register</h2>

      <form class="register-form" autocomplete="off">
        <div class="field-wrapper">
          <label for="user-name" class="form-label">Name*</label>
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="form-input"
            placeholder="Emma"
            required
            pattern="^[a-zA-Z\s\.]{5,64}$"
          />
        </div>

        <div class="field-wrapper">
          <label for="user-email" class="form-label">Email*</label>
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="form-input"
            placeholder="hello@wildsketch.com"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
        </div>

        <div class="field-wrapper">
          <label for="user-message" class="form-label"
            >Describe your skills</label
          >
          <textarea
            name="user-message"
            id="user-message"
            class="form-textarea"
            placeholder="Type your skills..."
            maxlength="500"
          ></textarea>
        </div>

        <button type="submit" class="register-btn">Register</button>
      </form>
    </div>

    <!-- Картинка -->
    <div class="register-thumb">
      <img
        src="./img/register/register-1@1x.jpg"
        srcset="
          ./img/register/register-1@1x.jpg 1x,
          ./img/register/register-1@2x.jpg 2x
        "
        alt="Дівчина малює на мольберті"
        class="register-img"
      />
    </div>
  </div>
</section>
