<section class="section register" id="register">
  <div class="container register__container">
    <!-- Форма -->
    <div class="register__content">
      <h2 class="register-title register__title">Register</h2>

      <form class="register__form" autocomplete="off">
        <div class="register__field">
          <label for="user-name" class="register__label">Name*</label>
          <input
            type="text"
            name="user-name"
            id="user-name"
            class="register__input"
            placeholder="Emma"
            required
            pattern="^[a-zA-Z\s\.]{2,64}$"
          />
        </div>

        <div class="register__field">
          <label for="user-email" class="register__label">Email*</label>
          <input
            type="email"
            name="user-email"
            id="user-email"
            class="register__input"
            placeholder="hello@wildsketch.com"
            required
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          />
        </div>

        <div class="register__field">
          <label for="user-message" class="register__label"
            >Describe your skills</label
          >
          <textarea
            name="user-message"
            id="user-message"
            class="register__textarea"
            placeholder="Type your skills..."
            maxlength="500"
          ></textarea>
        </div>

        <button type="submit" class="register__btn">Register</button>
      </form>
    </div>

    <!-- Картинка -->
    <div class="register__thumb">
      <img
        src="./img/register/register-1@1x.jpg"
        srcset="
          ./img/register/register-1@1x.jpg 1x,
          ./img/register/register-1@2x.jpg 2x
        "
        width="335"
        height="286"
        alt="Girl painting on an easel"
        class="register__img"
      />
    </div>
  </div>
</section>
