<section class="section team" id="team" aria-labelledby="team-title">
  <div class="container">
    <div class="team__heading">
      <h2 class="section-title team__title" id="team-title">Our team</h2>
      <p class="team__description">
        Meet the passionate artists guiding your plein air journey.
      </p>
    </div>
    <ul class="team__list">
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-1@1x.jpg"
          srcset="./img/team/team-1@1x.jpg 1x, ./img/team/team-1@2x.jpg 2x"
          alt="Emma Caldwell"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Emma Caldwell</h3>
          <p class="team__role">Lead Art Instructor</p>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-2@1x.jpg"
          srcset="./img/team/team-2@1x.jpg 1x, ./img/team/team-2@2x.jpg 2x"
          alt="Lina Morales"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Lina Morales</h3>
          <p class="team__role">Creative Workshop Coordinator</p>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-3@1x.jpg"
          srcset="./img/team/team-3@1x.jpg 1x, ./img/team/team-3@2x.jpg 2x"
          alt="Owen Fischer"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Owen Fischer</h3>
          <p class="team__role">Materials &amp; Techniques Expert</p>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-4@1x.jpg"
          srcset="./img/team/team-4@1x.jpg 1x, ./img/team/team-4@2x.jpg 2x"
          alt="Naomi Lee"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Naomi Lee</h3>
          <p class="team__role">Mindfulness &amp; Sketching Coach</p>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-5@1x.jpg"
          srcset="./img/team/team-5@1x.jpg 1x, ./img/team/team-5@2x.jpg 2x"
          alt="Jack Turner"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Jack Turner</h3>
          <p class="team__role">Photographer &amp; Visual Archivist</p>
        </div>
      </li>
      <li class="team__item">
        <img
          class="team__photo"
          src="./img/team/team-6@1x.jpg"
          srcset="./img/team/team-6@1x.jpg 1x, ./img/team/team-6@2x.jpg 2x"
          alt="Ben Novak"
          width="152"
          height="152"
          loading="lazy"
          decoding="async"
        />
        <div class="team__details">
          <h3 class="team__name">Ben Novak</h3>
          <p class="team__role">Outdoor Logistics Manager</p>
        </div>
      </li>
    </ul>
  </div>
</section>
