.header .container {
  display: flex;
  align-items: center;

  padding: 3px 20px;
}
@media only screen and (min-width: 768px) {
  .header .container {
    padding: 8px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header .container {
    padding: 8px 64px;
  }
}
.logo {
  margin-right: auto;
}
.header__container {
  display: flex;
  gap: 32px;
  align-items: center;
}
.header-nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 32px;
}

.header__link {
  font-weight: 400;
}

.header__btn {
  font-weight: 500;
  padding: 8px 20px;
}

.header__menu-btn {
  padding: 12px;
  background-color: inherit;
  border: none;
}

@media only screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}
