.team {
  margin: 0;
  padding: 64px 0;
  color: var(--color-text);
  background-color: var(--color-bg);
}
.team__heading {
  margin: 0 auto 40px;
  text-align: center;
}
.team__title {
  font-family: var(--font-heading);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
.team__description {
  margin-top: 24px;
  font-size: 18px;
  line-height: 1.5;
}
.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  min-height: 233px;
  text-align: center;
}
.team__photo {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  object-fit: cover;
}
.team__details {
  width: 100%;
}
.team__name {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}
.team__role {
  font-size: 18px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .team__list {
    gap: 64px 32px;
  }
  .team__item {
    width: calc((100% - 32px) / 2);
    min-height: 233px;
  }
}
@media screen and (min-width: 1440px) {
  .team__heading {
    max-width: 768px;
  }
  .team__list {
    gap: 32px;
  }
  .team__item {
    width: calc((100% - 160px) / 6);
    height: 233px;
    min-height: 0;
  }
}
